.justificar{
    padding: 10px;
    color: red;
    font-size: 30px;
    margin-left: 10px;
   
   
}
.ajeitar{
    margin-left: 50px;
}
.lista{
    display: flex;
    justify-content: space-between;
    
}
.OrganizarBotoes{
    display: flex;
}
.botaoEditar{
    background-color: #ffba01;
    border: 1px solid #ffba01;
}
.botaoEditar:hover{
    background-color: #ED990B;
    border: 1px solid #ED990B;
}
.divADICIONAR{
    display: flex;
    align-items: end;
}
.busca{
    margin-left: 40%;
}